<!--modal-->
<div class="modal modal-background-accessible" id="countryModal{{id}}" role="dialog" aria-labelledby="objectCountryModalLabel{{id}}" aria-hidden="true">
	<div class="modal-dialog modal-99">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title" id="objectCountryModalLabel{{id}}">{{attributes.name}}</h3>
			</div>
			<div class="modal-body">
				<div class="container modal-container-width">
					{{#if attributes.works}}
				        {{#each attributes.works}}
				        	{{attributes.title}}<br />
				        {{/each}}


						{{#countryListTitle attributes.works 'Projects'}}
							<div class="row">
								<div class="col-sm-12"><h3>Projects</h3></div>
						        {{#each attributes.works}}
									{{#countryListContent attributes ../attributes.full_name 'Projects'}}
									{{/countryListContent}}
						        {{/each}}
							</div>							
						{{else}}
						{{/countryListTitle}}
					
						{{#countryListTitle attributes.works 'Journal Article'}}
							<div class="row">
								<div class="col-sm-12"><h3>Selected Journal Articles</h3></div>
						        {{#each attributes.works}}
									{{#countryListContent attributes ../attributes.full_name 'Journal Article'}}
									{{/countryListContent}}
						        {{/each}}
							</div>						
						{{else}}
						{{/countryListTitle}}	
						
						{{#countryListTitle attributes.works 'Book'}}
							<div class="row">
								<div class="col-sm-12"><h3>Books</h3></div>
						        {{#each attributes.works}}
									{{#countryListContent attributes ../attributes.full_name 'Book'}}
									{{/countryListContent}}
						        {{/each}}
							</div>						
						{{else}}
						{{/countryListTitle}}				

						{{#countryListTitle attributes.works 'Article'}}
							<div class="row">
								<div class="col-sm-12"><h3>Other Selected Articles</h3></div>
						        {{#each attributes.works}}
									{{#countryListContent attributes ../attributes.full_name 'Article'}}
									{{/countryListContent}}
						        {{/each}}
							</div>						
						{{else}}
						{{/countryListTitle}}					

						{{#countryListTitle attributes.works 'Publication'}}
							<div class="row">
								<div class="col-sm-12"><h3>Other Selected Publications</h3></div>
						        {{#each attributes.works}}
									{{#countryListContent attributes ../attributes.full_name 'Publication'}}
									{{/countryListContent}}
						        {{/each}}
							</div>						
						{{else}}
						{{/countryListTitle}}
					
					{{/if}}
					
				</div>
			</div>
		</div>
	</div>
</div>