<!--modal-->
<div class="modal fade" id="modal{{cid}}" role="dialog" aria-labelledby="objectModalLabel{{cid}}" aria-hidden="true">
	<div class="modal-dialog modal-45">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{#if attributes.full_name}}
					<h3 class="modal-title" id="objectModalLabel{{cid}}">{{attributes.full_name}}</h3>
			    {{else}}
			    	{{#if attributes.title}}
						<h3 class="modal-title" id="objectModalLabel{{cid}}">{{attributes.title}}</h3>
					{{else}}
						<h3 class="modal-title" id="objectModalLabel{{cid}}">{{attributes.name}}</h3>
					{{/if}}
			    {{/if}}
			</div>
			<div class="modal-body">
				<div class="container modal-container-width">
					{{#if attributes.full_name}}
					<div class="row">
						<div class="col-sm-8">
							{{#if attributes.official_title}}
							<h3>{{attributes.official_title}}</h3>
							{{/if}}
							{{#if attributes.bio}}
								<p>{{attributes.bio}}</p>
							{{/if}}
						</div>
						<div class="col-sm-4">
							{{#if attributes.current_interests}}
								<h3>Research Interests</h3>
						        {{#each attributes.current_interests}}
									<p class="modal-list-element"><strong>{{attributes.name}}</strong></p>
						        {{/each}}
								<br>
							{{/if}}
							<h3>Contact</h3>
							<p class="modal-list-element">
							{{#if attributes.home_page}}
							    <a href="{{attributes.home_page}}" target="_blank">
							      MIT website
							    </a> | 
							{{/if}}
							{{#if attributes.email}}
							    <a href="mailto:{{attributes.email}}" target="_blank">
							      email
							    </a>
							{{/if}}
							</p>
						</div>
					</div>
					{{/if}}
					
					{{#if attributes.works}}
						{{#listTitle attributes.works 'Project'}}
							<div class="row">
								<div class="col-sm-12"><h3>Projects</h3></div>
						        {{#each attributes.works}}
									{{#listContent attributes ../attributes.full_name 'Project'}}
									{{/listContent}}
						        {{/each}}
							</div>							
						{{else}}
						{{/listTitle}}
					
						{{#listTitle attributes.works 'Journal Article'}}
							<div class="row">
								<div class="col-sm-12"><h3>Selected Journal Articles</h3></div>
						        {{#each attributes.works}}
									{{#listContent attributes ../attributes.full_name 'Journal Article'}}
									{{/listContent}}
						        {{/each}}
							</div>						
						{{else}}
						{{/listTitle}}	
						
						{{#listTitle attributes.works 'Book'}}
							<div class="row">
								<div class="col-sm-12"><h3>Books</h3></div>
						        {{#each attributes.works}}
									{{#listContent attributes ../attributes.full_name 'Book'}}
									{{/listContent}}
						        {{/each}}
							</div>						
						{{else}}
						{{/listTitle}}				

						{{#listTitle attributes.works 'Article'}}
							<div class="row">
								<div class="col-sm-12"><h3>Other Selected Articles</h3></div>
						        {{#each attributes.works}}
									{{#listContent attributes ../attributes.full_name 'Article'}}
									{{/listContent}}
						        {{/each}}
							</div>						
						{{else}}
						{{/listTitle}}					

						{{#listTitle attributes.works 'Publication'}}
							<div class="row">
								<div class="col-sm-12"><h3>Other Selected Publications</h3></div>
						        {{#each attributes.works}}
									{{#listContent attributes ../attributes.full_name 'Publication'}}
									{{/listContent}}
						        {{/each}}
							</div>						
						{{else}}
						{{/listTitle}}

					{{else}}
						<div class="row">
							{{#if attributes.description}}
								<div class="col-sm-12">
									<h3>Project Description</h3>
									<p>{{attributes.description}}</p>
								</div>						
							{{else}}
							{{/if}}

							<div class="col-sm-12">
								{{#if attributes.faculty}}
									<h3>Faculty</h3>
									<p>
							        {{#each attributes.faculty}}
										{{#facultyListContent attributes}}
										{{/facultyListContent}}
							        {{/each}}
							        </p>
								{{/if}}

								{{#if attributes.topics}}
									<h3>Topics</h3>
									<p>
							        {{#each attributes.topics}}
							        	{{attributes.name}}<br />
							        {{/each}}
							        </p>
								{{/if}}

								{{#if attributes.locations}}
									<h3>Countries</h3>
									<p>
							        {{#each attributes.locations}}
							        	{{attributes.name}}<br />
							        {{/each}}
							        </p>
								{{/if}}

							</div>

						</div>

						

					
					{{/if}}
					
				</div>
			</div>
		</div>
	</div>
</div>